<h1>Yönetim Ekranı</h1>

<h3>Haber Ekleme</h3>

<p>@ViewData["Hata"]</p>

<form method="post">
    <p><input required type="text" name="baslik" placeholder="Başlık" /></p>
    <p><input required type="text" name="slug" placeholder="Adres (Slug)" /></p>
    <p><textarea id="richtext" name="detay" placeholder="Detay"></textarea></p>
    <p><button>Ekle</button></p>
</form>